@media (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
  header {
    padding: 14px 20px;
  }

  header nav {
    display: none;
  }

  header .user {
    right: 20px;
  }

  .headline h1 {
    font-size: 60px;
  }
}

@media (max-width: 720px) {
  .the-movie {
    display: block;
  }

  .the-movie .title {
    font-size: 50px;
    margin-top: 50px;
  }
}
